<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-signin-client_id" content="748278365838-l8v3r1fm79p74igar5je50iuucm9n01i.apps.googleusercontent.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Restaurantes-Votalo.com</title>

    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <script>
        $(document).ready(function() {
            $.post('http://localhost:3001/listRestaurant', {}, function(data) {
                listRestaurants(data.result.data)
                console.log(data)
            })
        });


        function listRestaurants(restaurant) {
            restaurant.forEach(element => {
                $('#listaRestaurante').append(`<tr><td>` + element.name + `</td><td>` + element.address + `</td><td>` + element.phone + `</td><td>` + element.phone + `</td><td><a href="javascript:set('` + element.name + `','` + element.address + `','` + element.phone + `','` + element.city + `')">Modificar</a></td></tr>`);
            });
        }

        function set(name, address, phone, city) {
            $('#nombreRe').val(name)
            $('#dire').val(address)
            $('#tel').val(phone)
            $('#ciudad').val(city)
        }

        function save() {
            let nickname = $('#nickname').val();
            let password = $('#password').val();
            let name = $('#name').val();
            let address = $('#address').val();
            let phone = $('#phone').val();
            let city = $('#city').val();
            let product = $('#product').val();
            let price = $('#price').val();
            let event = $('#inputGroupSelect01').val();
            if (nickname != "" && password != "" && name != "" &&
                address != "" && phone != "" && city != "" &&
                product != "" && price != "" && event != "") {
                $.post('http://localhost:3001/saveRestaurant', {
                    nickname: nickname,
                    password: password,
                    name: name,
                    address: address,
                    phone: phone,
                    city: city,
                    product: product,
                    price: price,
                    event: event
                }, function(data) {
                    alert('Participante creado')
                })
            } else {
                alert('Ingrese los datos');
            }
        }

        function update() {
            let name = $('#nombreRe').val();
            let address = $('#dire').val();
            let phone = $('#tel').val();
            let city = $('#ciudad').val();
            if (name != "" && address != "" && phone != "" && city != "") {
                $.post('http://localhost:3001/updateRestaurant', {
                    name: name,
                    address: address,
                    phone: phone,
                    city: city
                }, function(data) {
                    alert('Participante modificado')
                    limpiar()
                    $.post('http://localhost:3001/listRestaurant', {}, function(data) {
                        console.log(data.result.data);
                        listRestaurants(data.result.data);
                    })
                })
            } else {
                alert('Ingrese los datos')
            }
        }

        function deleteRestaurant() {
            let name = $('#nameD').val();
            if (name != "") {
                $.post('http://localhost:3001/deleteRestaurant', {
                    name: name
                }, function(data) {
                    alert('Participante eliminado')
                    limpiar()
                    $.post('http://localhost:3001/listRestaurant', {}, function(data) {
                        listRestaurants(data.result.data);
                    })
                })
            } else {
                alert('Ingrese el nombre del evento')
            }
        }
    </script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><b>Votalo.com</b></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#download">Registrar-Restaurante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#download1">Modificar-Restaurante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#features">Eliminar-Restaurante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#download2">Ver-Restaurantes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">
                            Bienvenido a Votalo.com, ven y vota por tu comida favorita si ya tiene el codigo de votacion haz click en el botón.
                        </h1>
                        <!-- <a href="login.html" class="btn btn-outline btn-xl js-scroll-trigger">VOTAR!</a> -->
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img_fine/Diseño sin título.png" class="img-fluid" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="download bg-primary text-center" id="download">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <h2 class="section-heading" style="color: #d82534;">
                        Registrar Restaurantes!
                    </h2>
                    <br>
                    <div class="badges">
                        <!-- <a class="badge-link" href="loginFacebook.html"><img src="img_fine/btn_fbook.png" alt=""></a>
                        <a class="badge-link" href="loginGoogle.html"><img src="img_fine/btnGOOGLE.png" alt=""></a> -->

                        <!-- boton basico -->
                        <!-- <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Registarme!</a> -->
                        <!-- <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a> -->
                        <!-- <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a> -->
                    </div>
                    <div class="col-md-8 mx-auto text-center">

                        <table style="padding-left: 20px;">
                            <form action="/restaurant" method="POST">
                                <input type="hidden" name="_id" value="{{restaurant._id}}">
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Nickname: </p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" id="nickname" placeholder="Nickname" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Password: </p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="password" id="password" placeholder="Password" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Nombre del Restaurante: </p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" id="name" placeholder="Nombre del Restaurante" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Direccion: </p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" id="address" placeholder="Direccion del Restaurante" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Telefono: </p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" id="phone" placeholder="Telefono" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Ciudad: </p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" id="city" placeholder="Ciudad" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Nombre del Producto: </p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" id="product" placeholder="Nombre del Producto" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Precio del Producto: </p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" id="price" placeholder="Precio del Producto" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 5px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left; font-size: 24px;">Evento: </p>
                                    </td>
                                    <td style="padding-left: 50px;">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
                                            </div>
                                            <select style="border-radius: 6px;" class="custom-select" id="inputGroupSelect01">
                                                <option selected>SELECCIONAR</option>
                                                <option value="1">Buger Master</option>
                                                <option value="2">Sushi Master</option>
                                                <option value="3">Pizza Master</option>
                                                <option value="4">Helado Master</option>
                                                <option value="5">Perro Master</option>
                                                <option value="6">Arepa Master</option>
                                            </select>
                                        </div>
                                        <!-- <select class="form-control">
                                        <option>SELECCIONAR</option>
                                    </select> -->
                                    </td>
                                </tr>
                            </form>
                        </table>

                    </div>
                    <br>
                    <a href="javascript:save()" class="btn btn-outline1 btn-xl js-scroll-trigger" style="font-size: large;">Registrar !</a>
                </div>
            </div>
        </div>
    </section>

    <section class="download bg-primary2 text-center" id="download1">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <h2 class="section-heading" style="color: chocolate;">
                        Modificar Restaurante!
                    </h2>
                    <br>
                    <div class="badges">
                        <!-- <a href="login.html" class="btn btn-outline1 btn-xl js-scroll-trigger">Iniciar Sesión !</a> -->
                        <!-- <a class="badge-link" href="loginFacebook.html"><img src="img_fine/btn_fbook.png" alt=""></a>
                        <a class="badge-link" href="loginGoogle.html"><img src="img_fine/btnGOOGLE.png" alt=""></a> -->
                        <!-- boton basico -->
                        <!-- <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Registarme!</a> -->
                        <!-- <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a> -->
                        <!-- <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a> -->
                    </div>
                    <div class="col-md-8 mx-auto text-center">
                        <table style="padding-left: 20px;">
                            <form action="/restaurant" method="POST">
                                <input type="hidden" name="_id" value="{{restaurant._id}}">
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Nombre del Restaurante: </p>
                                    </td>
                                    <td>
                                        <input id="nombreRe" class="form-control" type="text" id="nameU" placeholder="Nombre del Restaurante" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Direccion: </p>
                                    </td>
                                    <td>
                                        <input id="dire" class="form-control" type="text" id="addressU" placeholder="Direccion del Restaurante" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Telefono: </p>
                                    </td>
                                    <td>
                                        <input id="tel" class="form-control" type="text" id="phoneU" placeholder="Telefono" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="text-align: left;">Ciudad: </p>
                                    </td>
                                    <td>
                                        <input id="ciudad" class="form-control" type="text" id="cityU" placeholder="Ciudad" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 5px;"></td>
                                </tr>
                            </form>
                        </table>
                    </div>
                    <br>
                    <a href="javascript:update()" class="btn btn-outline11 btn-xl js-scroll-trigger" style="font-size: large;">Modificar !</a>
                </div>
            </div>
        </div>
    </section>

    <section class="download bg-primary1 text-center" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <h2 class="section-heading" style="color: rgb(255, 106, 0);">
                        Eliminar Restaurante!
                    </h2>
                    <br>
                    <div class="badges">
                        <!-- <a href="login.html" class="btn btn-outline1 btn-xl js-scroll-trigger">Iniciar Sesión !</a> -->
                        <!-- <a class="badge-link" href="loginFacebook.html"><img src="img_fine/btn_fbook.png" alt=""></a>
                            <a class="badge-link" href="loginGoogle.html"><img src="img_fine/btnGOOGLE.png" alt=""></a> -->
                        <!-- boton basico -->
                        <!-- <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Registarme!</a> -->
                        <!-- <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a> -->
                        <!-- <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a> -->
                    </div>
                    <div class="col-md-8 mx-auto text-center">
                        <table style="padding-left: 20px;">
                            <tr>
                                <td>
                                    <p style="text-align: left;color: rgb(255, 106, 0); font-size: 24px;">Restaurante:
                                    </p>
                                </td>
                                <td style="padding-left: 50px;">
                                    <input class="form-control form-control-lg" type="text" placeholder="Nombre del Restaurante" id="nameD">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <a href="javascript:deleteRestaurant()" class="btn btn-outline11 btn-xl js-scroll-trigger" style="font-size: large;">Eliminar !</a>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Trabaja.<br>con Nosotros.</h2>
        <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Empezar ahora!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section> -->

    <section class="download bg-primary3 text-center" id="download2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="section-heading" style="color: chocolate;">
                        Restaurantes!
                    </h2>
                    <br>
                    <div class="badges">
                        <!-- <a href="login.html" class="btn btn-outline1 btn-xl js-scroll-trigger">Iniciar Sesión !</a> -->
                        <!-- <a class="badge-link" href="loginFacebook.html"><img src="img_fine/btn_fbook.png" alt=""></a>
                        <a class="badge-link" href="loginGoogle.html"><img src="img_fine/btnGOOGLE.png" alt=""></a> -->
                        <!-- boton basico -->
                        <!-- <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Registarme!</a> -->
                        <!-- <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a> -->
                        <!-- <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a> -->
                    </div>
                    <div class="col-md-6 mx-auto text-center">
                        <table class="table table-hover" border="1">
                            <thead>
                                <tr>
                                    <th> NOMBRE </th>
                                    <th> DIRECCION </th>
                                    <th> TELEFONO </th>
                                    <th> CIUDAD </th>
                                    <th> ACCION </th>
                                </tr>
                            </thead>
                            <tbody id="listaRestaurante">
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <!-- <a href="login.html" class="btn btn-outline11 btn-xl js-scroll-trigger" style="font-size: large;">MOdificar !</a> -->
                </div>
            </div>
        </div>
    </section>

    <section class="contact bg-primary" id="contact">
        <div class="container">
            <h2>Síguenos
                <i class="fas fa-heart"></i> en nuestras Redes!</h2>
            <ul class="listRestaurants-inline listRestaurants-social">
                <li class="listRestaurants-inline-item social-twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="listRestaurants-inline-item social-facebook">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="listRestaurants-inline-item social-google-plus">
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; Your Website 2019. All Rights Reserved.</p>
            <ul class="listRestaurants-inline">
                <li class="listRestaurants-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="listRestaurants-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="listRestaurants-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>
    <script>
        function limpiar() {
            $("#usuario").val("");
            $("#contra").val("");
            $("#nombreRe").val("");
            $("#dire").val("");
            $("#tel").val("");
            $("#ciudad").val("");
            $("#nomPro").val("");
            $("#precio").val("");
            $("#inputGroupSelect01").val(0);
        }
    </script>

</body>

</html>