#login {
  padding: 5px 0px;
  background-color: #3b5998;
  overflow: hidden;

  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
}

#login input[type="text"],
#login input[type="password"] {
  width: 170px;
  border: 1px solid #000;
}

#login input[type="checkbox"] {
  margin: auto;
  vertical-align: top;
}

#login input[type="submit"] {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;

  cursor: pointer;
  color: #fff;

  font-weight: bold;
  line-height: 13px;
  background-color: #5b74a8;

  padding: 3px 5px;
  border: 1px solid;
  border-color: #29447e #29447e #1a356e;
}

.wrapper {
  clear: both;
  padding-left: 589px;
}

.margin {
  padding-left: 10px;
}

.wrapper > div {
  float: left;
  width: 170px;
  padding: 0px 10px;
}

.wrapper .button {
  width: 50px;
}

.titulo {
  color: #fff;
}

.texto {
  color: #98a9ca;
}

.texto a {
  color: #98a9ca;
  text-decoration: none;
}

.texto1 {
  color: #98a9ca;
}

.texto1 a {
  color: #98a9ca;
  text-decoration: none;
}

/* resposive */

@media (max-width: 360px) {
  #login {
    padding: 5px 0px;
    background-color: #3b5998;
    overflow: hidden;

    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
  }

  #login input[type="text"],
  #login input[type="password"] {
    width: 170px;
    border: 1px solid #000;
  }

  #login input[type="checkbox"] {
    margin: auto;
    vertical-align: top;
  }

  #login input[type="submit"] {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;

    cursor: pointer;
    color: #fff;

    font-weight: bold;
    line-height: 13px;
    background-color: #5b74a8;

    padding: 3px 5px;
    border: 1px solid;
    border-color: #29447e #29447e #1a356e;
  }

  .wrapper {
    clear: both;
    padding-left: 90px;
  }

  .margin {
    padding-left: 10px;
  }

  .wrapper > div {
    float: left;
    width: 170px;
    padding: 0px 10px;
  }

  .wrapper .button {
    width: 50px;
  }

  .titulo {
    color: #fff;
  }

  .texto {
    color: #98a9ca;
  }

  .texto a {
    color: #98a9ca;
    text-decoration: none;
  }
  .texto1 {
    color: #98a9ca;
    padding-top: 100px;
  }

  .texto1 a {
    color: #98a9ca;
    text-decoration: none;
  }
}